@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Base styles - for desktop screens */
body {
    margin: 0 auto;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
}

/* ------- NAVBAR ------- */

.custom-navbar {
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 60px;
}

/* ------- NAME AND SCHOOL LOGO ------- */

#name-logo-wrapper {
    display: flex;
    align-content: center;
    color: black;
    font-size: large;
    font-family: 'Quicksand', sans-serif;
}

#name-logo-wrapper img {
    height: 50px;
}

/* ------- MENU ITEMS ------- */

.custom-button {
    width: 100px;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
    border: none;
}

/* ------- SEPARATOR ------- */

.separator {
    height: 5px;
    background-color: black;
}

/* Adjustments for smaller desktop screens */
@media screen and (max-width: 1440px) {

}

/* Adjustments for medium-sized screens, like smaller laptops */
@media screen and (max-width: 1280px) {

}

/* Adjustments for small screens like tablets */
@media screen and (max-width: 1024px) {
    /* Switching from a horizontal to a vertical layout */
}

/* Optional: Adjustments for mobile screens */
@media screen and (max-width: 768px) {

}

/* Optional: Adjustments for very small screens */
@media screen and (max-width: 480px) {

}
